@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  font-family: "Outfit", sans-serif;
}

/* This will apply cursor pointer in all buttons */
@layer base {
  button {
    @apply cursor-pointer;
  }
}